/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ab2d0a;
  color: white;
  padding: 5px 10px; /* Adjusted padding */
  width: 100%;
  z-index: 1000; /* Ensure navbar is above other content */
}

.logo {
  font-size: 20px; /* Adjusted font size */
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 15px; /* Adjusted margin */
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.social-links a {
  color: white;
  margin-right: 10px;
}

.contact-info p {
  margin: 0;
  margin-right: 15px; /* Adjusted margin */
}

/* Footer styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #c91818;
  color: white;
  padding: 10px 20px;
  text-align: center;
  z-index: 1000; /* Ensure footer is above other content */
}

/* Home container styles */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind the other content */
}

.distributor-list-container {
  position: fixed;
  top: 70px; /* Adjust to be below the navbar */
  right: 0;
  width: 300px; /* Adjust width as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Optional: Add background color for better readability */
  overflow-y: auto;
  max-height: calc(100vh - 70px); /* Make sure it doesn't overflow the viewport */
  z-index: 999; /* Ensure distributor list is above other content */
}

.distributor-contact {
  margin-bottom: 20px;
  text-align: right;
}

.distributor-contact h3 {
  margin-top: 0;
}

.distributor-contact p {
  margin: 5px 0;
}

.distributor-contact a {
  color: blue; /* Adjust link color as needed */
  text-decoration: none;
}

.distributor-contact a:hover {
  text-decoration: underline;
}

/* About section styles */
.about-section {
  margin: 20px;
}

.about-content {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
}

.logo-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
