/* Navbar.js */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  width: 100%; /* Ensure navbar spans the full width */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.social-links a {
  color: white;
  margin-right: 10px;
}

.contact-info p {
  margin: 0;
  margin-right: 20px;
}


/* Footer.js */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensure footer spans the full width */
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}


.distributors-contact-card-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.distributors-contact-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px; /* Add margin between each card */
}

.distributors-contact {
  text-align: left;
}

.distributors-contact h3 {
  margin-top: 0;
}

.distributors-contact p {
  margin: 5px 0;
}

.distributors-contact a {
  color: blue;
  text-decoration: none;
}

.distributors-contact a:hover {
  text-decoration: underline;
}
